*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    position: sticky;
    top: 0;
    background-color: #111a28;
}

.logo {
    width: 90px;
}

.main-div {
    display: flex;
    justify-content: space-between;
}

.div-ul ul {
    display: flex;
}

.div-ul ul a {
    margin: 20px 15px;
    text-decoration: none;
    color: white;
    position: relative;
    padding: 0 10px;
}

.div-ul ul a:after {
    content: "";
    position: absolute;
    background-color: #ff3c78;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}

.div-ul ul a:hover {
    color: #ffffff;
}

.div-ul ul a:hover::after {
    width: 100%;
}

.background {
    background-color: #111a28;
}

.parent-div-main {
    margin-top: 100px;
    margin-left: 100px;
    display: flex;
}

#text {
    color: white;
}

#hello {
    color: #00CF5D;
}

#name {
    font-size: 80px;
    font-weight: 700;
}

#developer {
    color: #00CF5D;
}

#about span {
    position: relative;
    z-index: 100;
}

#about {
    border: 2px solid #00CF5D;
    text-decoration: none;
    border-radius: 5px;
    background-color: #111a28;
    color: white;
    position: relative;
    text-transform: uppercase;
    -webkit-box-reflect: below 0px linear-gradient(transparent, #0002);
    transition: 0.5s;
    margin-left: 10px;
    transition-delay: 0s;
}

#about:hover {
    transition-delay: 0.5s;
    color: #000;
    box-shadow: 0 0 10px #0f0,
        0 0 20px #0f0,
        0 0 40px #0f0,
        0 0 80px #0f0,
        0 0 160px #0f0;
}

#about::before {
    content: '';
    position: absolute;
    left: -20px;
    top: 50%;
    height: 2px;
    transform: translateY(-50%);
    background: #0f0;
    box-shadow: 5px -8px 0 #0f0,
        5px -8px 0 #0f0;
    transition-delay: 0s, 0.5s, 01s, 1s;
    transition: width 0.5s, left 0.5s, height 0.5s,
        box-shadow 0.5s;
    border-radius: 5px;
}

#about:hover::before {
    width: 60%;
    height: 100%;
    left: -2px;
    box-shadow: 5px 0 0 #0f0,
        5px 0 0 #0f0;
}

#about::after {
    content: '';
    position: absolute;
    right: -20px;
    top: 50%;
    height: 2px;
    transform: translateY(-50%);
    background: #0f0;
    box-shadow: -5px -8px 0 #0f0,
        -5px -8px 0 #0f0;
    transition-delay: 0s, 0.5s, 01s, 1s;
    transition: width 0.5s, left 0.5s, height 0.5s,
        box-shadow 0.5s;
    border-radius: 5px;
}

#about:hover::after {
    width: 60%;
    height: 100%;
    right: -2px;
    box-shadow: -5px 0 0 #0f0,
        -5px 0 0 #0f0;
}

#resume {
    border: none;
    background-color: #00CF5D;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    font-weight: 400;
    position: relative;
    display: inline-block;
    padding: 12px 36px;
}

#resume:hover::before {
    background-color: #111a28;
    border: 2px solid #00CF5D;
    position: relative;
    transition: 0.5s;
}

#resume:hover {
    background-color: #111a28;
    border: 2px solid #00CF5D;
    position: relative;
    transition: 0.5s;
}

#resume:hover::after {
    background-color: #111a28;
    border: 2px solid #00CF5D;
    position: relative;
    transition: 0.5s;
}

#get {
    border-color: #00CF5D;
    border-radius: 5px;
    background-color: #111a28;
    color: white;
}

.details {
    margin-top: 300px;
    color: white;
}

.icon {
    display: flex;
    align-items: center;
    margin-right: 5px;
}



.portfolio-photo {
    filter: grayscale(100%);
}

.portfolio-photo:hover {
    transition: 0.5s;
    filter: grayscale(0%);
}

.portfolio-photo:hover::after {
    transition: 0.5s;
    filter: grayscale(0%);
}