*,
*::before,
*::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.logo{
    width: 90px;
}
.main-div{
    display: flex;
    justify-content: space-between;
}
.div-ul ul{
    display: flex;
}
.div-ul ul a{
    margin: 20px 15px;
    text-decoration: none;
    color: white;
    position: relative;
    padding: 0 10px;
}
.div-ul ul a:after{
    content: "";
    position: absolute;
    background-color: #ff3c78;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}
.div-ul ul a:hover{
    color: #ffffff;
}
.div-ul ul a:hover::after{
    width: 100%;
}
.background{
    background-color: #111a28;
}
.parent-div-main{
    margin-top: 100px;
    margin-left: 100px;
    display: flex;
}
#text{
    color: white;
}
#hello{
    color: #00CF5D;
}
#name{
    font-size: 80px;
    font-weight: 700;
}
#developer{
    color: #00CF5D;
}
#about{
    border-color: #00CF5D;
    border-radius: 5px; 
    background-color: #111a28; 
    color: white;
}
#resume{
    border: none; 
    background-color: #00CF5D; 
    border-radius: 5px; 
    text-decoration: none;
    color: white;
    font-weight: 400;
    position: relative;
    display: inline-block;
    padding: 12px  36px;
}
#get{
    border-color: #00CF5D;
    border-radius: 5px; 
    background-color: #111a28; 
    color: white;
}
.details{
    margin-top: 300px;
    color: white;
}